/* all pages */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2e1503;
}
li {
  float: left;
  border-right: 1px solid #bbb;
}
li:last-child {
  border-right: none;
  float: right;
}
li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #d4cec3;
}
.index-content,
.about-content,
.contact-content,
.thankyou-content {
  background-color: #d4cec3;
  color: #2e1503;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* all pages */

/* index.html (thankyou.html) */
.index-content h1,
.thankyou-content h1 {
  padding: 20px;
  padding-bottom: 10px;
  margin-top: 125px;
  margin-bottom: 0px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hr {
  border: 0;
  clear: both;
  display: block;
  width: 75%;
  background-color: #2e1503;
  height: 1px;
}
.index-content a,
.thankyou-content a {
  margin: 20px;
  margin-bottom: 5px;
  text-decoration: none;
}
button {
  width: 150px;
  height: 40px;
  background-color: #2e1503;
  color: white;
  border: none;
  font-family: serif;
}
button:hover {
  background-color: white;
  color: #2e1503;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}
/* index.html */

/* about.html (contact.html) */
.about-intro,
.contact-intro {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about-intro h1,
.contact-intro h1 {
  margin-top: 20px;
  margin-bottom: 0px;
}
.about-intro h3 {
  margin: 0px;
}
.about-content {
  display: flex;
  flex-direction: column;
}
table {
  border-collapse: collapse;
  margin-top: 5px;
  margin-bottom: 50px;
  line-height: 20px;
  font-family: serif;
  width: 65%;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
table thead tr {
  background-color: #3333336d;
  color: #ffffff;
  font-weight: normal;
  text-align: center;
}
table th,
table td {
  padding: 12px 15px;
}
table tbody tr {
  border-bottom: 1px solid #3333336d;
  text-align: center;
}
table tbody tr:nth-of-type(even) {
  background-color: #efe8db;
}
.about-content p {
  margin: 0;
}
.accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordion {
  margin: 10px;
  overflow: hidden;
  width: 65%;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.accordion-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
  background: #3333336d;
  color: #fff;
}
.accordion-content {
  max-height: 0;
  padding: 0 1em;
  background: white;
  transition: all 0.35s;
  font-size: 1rem;
  text-align: justify;
}
.accordion-content a {
  color: blue;
}
input:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 1em;
}
.accordion:last-child {
  margin-bottom: 50px;
}
/* about.html */

/* contact.html */
form {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 50px;
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  background-color: #2e1503;
  color: white;
  border: none;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: serif;
}
input[type="submit"]:hover {
  background-color: white;
  color: #2e1503;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}
/* contact.html */
