.content h1 {
  text-align: center;
  margin: 30px 0;
}

.h3 {
  font-size: 1.17em;
}

.table-container {
  width: 65%;
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  margin-top: 5px;
  line-height: 20px;
  width: 100%;
  box-shadow: 0 2px 3px -2px var(--dark-brown);
}

table thead tr {
  background-color: var(--dark-grey);
  color: var(--white);
}

table th,
table td {
  padding: 12px 15px;
}

table td {
  font-size: 13px;
}

table tbody tr {
  border-bottom: 1px solid var(--dark-grey);
  text-align: center;
}

table tbody tr:nth-of-type(even) {
  background-color: var(--lighter-beige);
}

.accordion input {
  position: absolute;
  opacity: 0;
}

.accordion {
  margin: 10px;
  overflow: hidden;
  width: 65%;
  box-shadow: 0 2px 3px -2px var(--dark-brown);
}

.accordion-label {
  display: flex;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
  background: var(--dark-grey);
  color: var(--white);
}

.accordion-content {
  max-height: 0;
  padding: 0 1em;
  background: var(--white);
  transition: all 0.35s;
  font-size: 1rem;
  font-size: 13px;
  text-align: justify;
}

span {
  font-style: italic;
}

.accordion-content a {
  color: var(--blue);
}

input:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 1em;
}

.accordion:last-child {
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .table-container {
    overflow: scroll;
  }
}
