.content h1 {
  padding: 20px;
  padding-bottom: 10px;
  margin: 125px 0 0 0;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #2e1503;
  width: 75%;
  text-align: center;
}
.content a {
  margin-top: 20px;
  text-decoration: none;
}
