:root {
  --black: #000000;
  --dark-grey: #3333336d;
  --dark-brown: #2e1503;
  --blue: #0000ff;
  --light-grey: #bbbbbb;
  --darker-beige: #d4cec3;
  --lighter-beige: #efe8db;
  --white: #ffffff;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../public/fonts/playfair_display_regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../public/fonts/playfair_display_italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

body {
  font-family: 'Playfair Display', 'Times New Roman', serif;
}

.navbar {
  position: sticky;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--dark-brown);
}

li {
  float: left;
  border-right: 1px solid var(--light-grey);
}

li:last-child {
  border-right: none;
  float: right;
}

li a {
  display: inline-block;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: var(--darker-beige);
  color: var(--dark-brown);
}

.content {
  background-color: var(--darker-beige);
  color: var(--dark-brown);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button,
input[type='submit'] {
  background-color: var(--dark-brown);
  color: var(--white);
  border: none;
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-style: normal;
}

button {
  width: 150px;
  height: 40px;
  cursor: pointer;
}

input[type='submit'] {
  width: 100%;
  padding: 14px 20px;
  margin: 24px 0 8px 0;
}

button:hover,
input[type='submit']:hover {
  background-color: var(--darker-beige);
  color: var(--dark-brown);
  transition: 0.4s;
  cursor: pointer;
}
